
/*======= Media Queries =======*/

/** Medium Screens -  tablets **/


@media all and (max-width: 1024px) {


/*Menu*/ 

header {
  overflow: visible;

}

ul.simple-toggle{
  display: none;
}

.anchor-link, #mobile-nav { display: block; }


ul.open{
  background-color: #F4F4F4;
  box-shadow: 2px 2px 3px #444444;
  display: block;
  list-style: none outside none;
  position: absolute;
  margin: 0;
  padding: 0;
  right: 5px;
  top: 100%;
  width: 70%;
  z-index: 500; 
}

ul.open li { 
  display: block; 
  list-style: none; 
  text-align: center; 
}
  
ul.open li a { 
  display: block; 
  padding: 20px 10px; 
  border-bottom: 1px solid #ccc; 
  text-decoration: none; 
}

ul.open li a:hover { 
  background-color: #ccc; 
  color: #fff; 
}
  









}